<template>
  <div class="home">
    <div>
      <div v-for="matchsPerDay in matchsPerDays">
        <div class="dayTitle">{{ matchsPerDay.day }}</div>
        <div class="matchList">
          <match-bloc v-for="match in matchsPerDay.matchs" v-bind:data="match"></match-bloc>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import MatchBloc from './parts/MatchBloc';

  export default {
    components: {MatchBloc},
    name: 'MatchList',
    data () {
      return {
        matchsPerDays: []
      }
    },
    mounted() {
      axios({ method: "GET", "url": "http://localhost:1080/api/matchs" }).then(result => {
        this.matchsPerDays = result.data;
      }, error => {
        console.error(error);
      });
    },
    methods: { }
  }
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.dayTitle{
  background: #f4f4f4;
  text-align: left;
  padding:5px;
  color:gray;
}
.matchList{
  background: white;
  padding: 15px;
}
</style>
