<template>
  <div class="profile">
    <div class="top">
     <div v-bind:style="'background-image:url(' +require('@/assets/back_profile.jpg') + ')'" class="back"></div>
      <div class="profile-content">
        <img class="thumb" v-bind:src="user.thumbnail" v-bind:alt="user.firstname+user.lastname"/>
        <span class="title">{{user.firstname+' '+user.lastname}}</span>
        <div class="favSport">
          <div class="block">
            <div class="greenText bigText marginBottom">{{user.favoritesSports[0].played}}</div>
            <div class="gray uppercase">Joués</div>
          </div>
          <div class="block">
            <div class="hex favSportNote">{{user.favoritesSports[0].note}}</div>
            <div class="favSportName">{{user.favoritesSports[0].name}}</div>
          </div>
          <div class="block">
            <div class="greenText bigText marginBottom">{{user.favoritesSports[0].organized}}</div>
            <div class="gray uppercase">Organisés</div>
          </div>
        </div>
        <div class="separator"></div>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios';

  export default {
    name: 'UserProfile',
    data () {
      return {
        user: {}
      }
    },
    mounted() {
      axios({ method: "GET", "url": "http://localhost:1080/api/users/1" }).then(result => {
        this.user = result.data;
      }, error => {
        console.error(error);
      });
    },
    methods: {

    }
  }
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.dayTitle{
  background: #f4f4f4;
  text-align: left;
  padding:5px;
  color:gray;
}
.matchList{
  background: white;
  padding: 15px;
}
  .back{
    height: 120px;
    background-size: cover;
  }
  .profile-content{
    text-align:left;
  }
  .profile-content .thumb{
    width: 110px;
    border-radius: 110px;
    margin-top: -48px;
    margin-left: 5%;
    border: 3px solid white;
    float:left;
  }
  .profile-content .title{
    display: block;
    float: left;
    margin-left: 5%;
    margin-top: 10px;
  }
  .profile-content .favSport{
    display: block;
    width: 100%;
    float: left;
    margin-top: 20px;
    text-align: center;
  }
  .profile-content .favSport .block{
    float:left;
    width:33.33%;
    position:relative;
    height: 63px;
  }
.hex:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 20px solid #306931;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  top: -20px;
  left: 0;
}

.hex {
  margin-top: 30px;
  width: 60px;
  height: 25px;
  background-color: #306931;
  position: relative;
  margin: auto;
  color: white;
  font-size: 22px;
  line-height: 27px;
}

.hex:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -20px;
  border-top: 20px solid #306931;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  left: 0;
}

  .favSportName{
    margin-top: 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #306931;
  }
</style>
