<template>
  <div class="wrapper">
   <div v-bind:class="[activeItem == 'profile' ? 'selected' : '']" v-on:click="selectNav('profile')" class="bottomBloc">
     <div class="content">
       <i class="material-icons">person_pin</i>
       <span>Profile</span>
     </div>
   </div>
    <div class="bottomBloc plusButton">
      <span v-on:click="changeShowNav()">+</span>
    </div>
    <transition name="fade">
      <div  v-on:click="changeShowNav()" v-bind:id="'navModal'" v-if="showNav">
        <div class="navblocks">
          <div class="findMatch navblock">
            <div class="content">
              <i class="material-icons">person_pin</i>
              <span>Trouver<br/>un match</span>
            </div>
          </div>
          <div class="organizeMatch navblock">
            <div class="content">
              <i class="material-icons">person_pin</i>
              <span>Définir mon niveau</span>
            </div>
          </div>
          <div class="defineLevel navblock">
            <div class="content">
              <i class="material-icons">person_pin</i>
              <span>Organiser<br/>un match privé</span>
            </div>
          </div>
        </div>
        <div class="closeBlock">
          <div class="closeButton">
            <span v-on:click="this.changeShowNav()">x</span>
          </div>
        </div>
      </div >
    </transition>
    <div v-bind:class="[activeItem == 'matches' ? 'selected' : '']" v-on:click="selectNav('matches')" class="bottomBloc">
      <div class="content">
        <i class="material-icons">person_pin</i>
        <span>Matches</span>
      </div>
    </div>

  </div>
</template>

<script>
  import router from '../../router';
  export default {
    props: ['activeItem'],
    data() {
      return { showNav: false , activeItem : "matches"};
    },
    methods: {
      changeShowNav(){
        this.showNav = !this.showNav;
      },
      selectNav(item){
        router.push({ path: item });
      }
    }
  }
</script>

<style scoped>
 div.wrapper{
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 63px;
   border: 1px solid #1ba2e2;
   text-align: center;
   background: #f4f4f4;
   padding-top: 17px;
   font-size: 25px;
   color: #1ba2e2;
 }
  div.bottomBloc{
    float:left;
    width:33.33%;
    height:80px;
  }
  div.bottomBloc.selected .material-icons{
    color:  #1ba2e2 !important;
  }
 div.bottomBloc.selected span{
   color: #1ba2e2 !important;
 }
 div.bottomBloc .material-icons{
   background: #a7a7a7 !important;
 }
  div.bottomBloc .content{
    margin-top: -15px;
    display: block;
  }
  div.bottomBloc .content .material-icons{
    display: block;
    width: 43px;
    height: 43px;
    font-size: 30px;
    line-height: 44px;
    color:#a7a7a7;
    background: none !important;
    margin: auto;
  }
  div.bottomBloc .content span{
    font-size: 12px;
    display: block;
    color: #a7a7a7;
    margin-top: -5px;
  }
  div.bottomBloc.plusButton span{
    background: #1ba2e2;
    color: white;
    width: 65px;
    height: 65px;
    border-radius: 65px;
    line-height: 63px;
    display: block;
    margin: -49px auto;
    font-size: 50px;
  }
  .list{
    background: none;
  }
 .list a{
    height: 70px;
    width: 70px;
    background: red;
    border-radius: 70px;
  }
  i.material-icons{
    width: 70px;
    height: 70px;
    background: white;
    color: #1ba2e2;
    border-radius: 70px;
    font-size: 46px;
    line-height: 69px;
    margin-bottom:6px;
  }
 .overlay--active:before {
   opacity: .85 !important;
 }
  #navModal.visible{
    display:block;
  }
  #navModal.hidden{
    display:none;
  }
  #navModal{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.87);
  }
  .navblocks{
    position:fixed;
    bottom:0;
    width:100%;
  }
  .navblock{
    float:left;
    width:33.33%;
    position:relative;
    height: 63px;
  }
 .findMatch .content{
   display: block;
   margin: -170px auto;
 }
 .navblock .content span{
   margin-top:3px;
   font-size: 16px;
   display: block;
   margin: auto;
   color:white;
 }
 .organizeMatch .content{
   display: block;
   margin: -300px auto;
 }
 .defineLevel .content{
   display: block;
   margin: -170px auto;
 }
  .closeBlock{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .closeBlock .closeButton{
    width: 100%;
  }
  .closeBlock .closeButton span{
    background: #1ba2e2;
    color: white;
    width: 65px;
    height: 65px;
    border-radius: 65px;
    line-height: 56px;
    display: block;
    margin: -94px auto;
    font-size: 50px;
  }

 .bounce-enter-active {
   animation: bounce-in .5s;
 }
 .bounce-leave-active {
   animation: bounce-in .5s reverse;
 }
 @keyframes bounce-in {
   0% {
     transform: scale(0);
   }
   50% {
     transform: scale(1.5);
   }
   100% {
     transform: scale(1);
   }
 }
 .fade-enter-active, .fade-leave-active {
   transition: opacity .5s;
 }
 .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
   opacity: 0;
 }
</style>
