<template>
  <div id="wrapper">
    <div v-if="type === 'matches'">
      Krank Club
    </div>
    <div v-if="type === 'profile'">
      <div class="float" v-on:click="back()"><i class="material-icons">keyboard_backspace</i></div>
      <div class="float">{{userName}}</div>
    </div>
  </div>
</template>

<script>
  import router from '../../router';
  export default {
    props: ['type', 'userName'],
    data() {
      return {};
    },
    methods: {
      back(){
        router.back();
      }
    }
  }
</script>

<style scoped>
 div#wrapper{
   height: 63px;
   background: #1ba2e2;
   text-align: center;
   padding-top: 17px;
   font-size: 25px;
   color: white;
 }
  .float{
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }

</style>
