<template>
  <div v-on:click="checkedStar = !checkedStar" v-bind:class="'match' +data.id + ' match'">
    <div v-bind:style="'background-color:'+getTypeColor()" class="left">
      <span class="hour">{{data.hour}}</span>
      <span class="date">{{data.day}}</span>
      <span v-bind:class="[checkedStar ? 'clicked' : 'notClicked']" class="star">☆</span>
      </div>
    <div class="right">
      <div v-bind:style="'color:'+getTypeColor()" class="title">{{data.title}}</div>
      <div class="tags">
        <span v-for="tag in data.matchTags"> #{{tag}}</span>
      </div>
      <div class="name">{{data.user.firstname}} {{data.user.lastname}}</div>
      <div class="cost">{{data.cost}}€ - {{data.duration}}</div>
      </div>
    </div>
</template>

<script>
  import moment from 'moment';
  export default {
    props: ['data'],
    data() {
      return { checkedStar: false };
    },
    methods: {
      getTypeColor(){
        var color = "";
        switch (this.data.type) {
          case 'football':
            color="#37b76a";
            break;
          case 'running':
            color="red";
            break;
          default:
            color="#37b76a";
        }
        return color;
      }
    }
  }
</script>

<style scoped>
 div.match{
   background:#f4f4f4;
   height:120px;
   display:flex;
   border-radius:15px;
   margin-bottom:15px;
 }
  div.match .left{
    float: left;
    background: #37b76a;
    width: 25%;
    color: white;
    border-radius:15px;

  }
  div.match .left span{
    display:block;
    margin-bottom:12px;
  }
  div.match .left .hour{
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
  }
 div.match .left .date{
   font-size: 12px;
   display: block;
 }
 div.match .left .star{
   margin-top:-14px;
  font-size:30px;
 }
 div.match .left .star.clicked{
   color: yellow;
 }
  div.match .right{
    padding: 15px;
    width: 69%;
    text-align: left;
  }
  div.match .right .title{
    color: #37b76a;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  div.match .right .tags span{
    color:gray;
  }

  div.match .right .name{
    margin-top:6px;
  }

</style>
