<template>
  <div id="app">
    <v-app>
      <header-bloc v-bind:userName="userData.firstname+' '+userData.lastname" v-bind:type="getCurrentRoute()"></header-bloc>
      <router-view/>
      <bottom-nav-bloc v-bind:activeItem="getCurrentRoute()"></bottom-nav-bloc>
    </v-app>
  </div>
</template>

<script>

import HeaderBloc from "./components/parts/HeaderBloc";
import BottomNavBloc from "./components/parts/BottomNavBloc";
import router from './router';
import axios from 'axios';
export default {
  components: {
    BottomNavBloc,
    HeaderBloc},
  name: 'App',
  data () {
    return {
      userData: []
    }
  },
  mounted() {
    axios({ method: "GET", "url": "http://localhost:1080/api/users/1" }).then(result => {
      this.userData = result.data;
    }, error => {
      console.error(error);
    });
  },
  methods: {
    getCurrentRoute(){
      return router.history.current.name;
    }
  }
};
</script>

<style>
  body{
    padding:0;
    margin:0;
  }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  margin:auto;
}

/**
 * Reusable styles
 */
.bigText{
  font-size:20px;
  font-weight:bold;
}
.greenText{
  color: #306931;
}
.gray{
  color: #939393;
}
.marginBottom{
  margin-bottom:10px;
}
.uppercase{
  text-transform:uppercase;
}
.separator{
  display: block;
  float: left;
  width: 100%;
  margin-top: 25px;
  background-color: #dbdbdb;
  border: 0;
  height: 1px;
}
</style>
